<mat-card>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form [formGroup]="frmUser" (submit)="save()" >
        <div class="row">
          Login
          <input type="text" formControlName="login">
        </div>
        <div class="row">
          Nom
          <input type="text" formControlName="nom">
        </div>
        <div class="row">
          Email
          <input type="email" formControlName="email">
        </div>
        <div class="row mb-2">
          Mot de passe
          <input type="text" formControlName="password" >
          <span *ngIf="!frmUser.controls['password'].value" style="color: red">
            Le mot de passe est obligatoire
          </span>
        </div>
        <div class="row">
          <button class="btn btn-primary"
                  [disabled]="!frmUser.valid"
                  type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</mat-card>
